Source: dyfi
Section: misc
Maintainer: Eugene Zhukov <eugene@debian.org>
Priority: optional
Homepage: http://dy.fi
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), po-debconf

Package: dyfi
Depends: ${misc:Depends}, ${perl:Depends}, adduser, libwww-perl
Pre-Depends: debconf
Architecture: all
Description: Client for updating dynamic hostname mappings for dy.fi
 This is a client software (which runs as daemon) for automatically updating
 dynamic hostname mappings at dy.fi - free dynamic DNS service offered
 exclusively for Finnish users.
 .
 This client software lets you configure your credentials and hostname(s)
 upon install. These credentials and hostname(s) must be registered at dy.fi
 website beforehand.
