[Unit]
Description=Daemon for updating dynamic hostname mappings for dy.fi

[Service]
User=dyfi
ExecStart=/usr/share/dyfi/dyfi-update.pl -f /etc/dyfi-update.conf
Restart=always
InaccessibleDirectories=/home /root
ReadOnlyDirectories=/etc

[Install]
WantedBy=multi-user.target
