[Unit]
Description=dy.fi service
After=network.target

[Service]
ExecStart=/usr/share/dyfi/dyfi-update.pl -f /etc/dyfi-update.conf
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=dyfi.service
