[Unit]
Description=dy.fi

[Service]
ExecStart=/usr/share/dyfi/dyfi-update.pl -f /etc/dyfi-update.conf
Restart=always

[Install]
WantedBy=multi-user.target
